header
{
	color: brown;
	font-size: 75px;
	text-indent: 550px;
	text-decoration-style: solid;
	text-decoration-line: underline;
	font-style: oblique;

}

.home{
	background-image: url(pic.jpg.jpg);
	position: center;
	background-position: center;
	width: 100%;
	height: 100%;
	border: 2px solid black;
	
}
.pic{
	padding-bottom: 550px;
	padding-top: 700px;
}
