header
{
	color: brown;
	font-size: 75px;
	text-indent: 550px;
	text-decoration-style: solid;
	text-decoration-line: underline;
	font-style: oblique;

}

body{
	background-image: url(pic.jpg.jpg);
	background-position: center;
	background-size: 20px 40px;
}