header
{
	color: brown;
	font-size: 75px;
	text-indent: 550px;
	text-decoration-style: solid;
	text-decoration-line: underline;
	font-style: oblique;

}

.home{
	background-image: url(pic.jpg.jpg);
	position: center;
	background-position: center;
	widows: 300px;
	height: 250px;
	border: 2px solid black;
	padding: 10px;


}